body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.node rect {
  stroke: rgb(170 183 196);
  fill: #fff;
  stroke-width: 1.5px;
}
.node text {
  fill: rgb(81 86 89 / 50%);
}

.node.done rect {
  stroke: #5a8ff9;
  fill: #c6e4fd;
}
.node.done text {
  fill: #0e397e;
}
.arrowhead {
  fill: rgb(170 183 196);
}
.edgePath path {
  stroke: rgb(170 183 196);
  stroke-width: 1.5px;
}
